@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    margin: 0px;
    background-color: #5C7285;
    color: #A7B49E;
    font-family: "Oswald", serif;
 
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
hr {
    border-color: #a0b5c6;
    border-width: 0px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #cfcdb5;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:#4075a3;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #A7B49E;
}
.navbar li{
    float: left;
}
.heading {
    display: block;
}
h3{
    text-align: center;

}
.project{
display: flex; ;
}

.project > p{
    margin-left: 10px;

}


.project2{
    display: flex; ;
    
    }


    
    .project2 > p{
        margin-left: 10px;
    }

    .navbar:active {
        box-shadow: 5px 5px 5px #0e78c4;
      }
      
      input{
        background-color: #A7B49E;
      }
.mail {
    display: flex;
    align-items: flex-start;
}

.phone {
    display: flex;
    align-items: flex-start;
}